/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('modern-normalize/modern-normalize.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('./reset.css');
@import url('./sl-override.css');

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1128px;
  gap: 24px;
  margin: 24px auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.04444);
  cursor: zoom-in;
}